* {
  color: black;
  background-color: white;
}

body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 5rem;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 70px;
}

button {
  font-size: 50px;
  border: .3rem solid;
  background-color: lightsalmon;
  margin: 1rem;
}

button:hover {
  cursor: pointer;
}

.reset {
  display: none;
  background-color: white;
}

.reset.is-hidden {
  visibility: visible;
  display: inline;
}

.reset.is-visible {
  display: none;
}

div {
  letter-spacing: .1rem;
  margin: 4.8rem;
}

.timeLimit {
  font-family: sans-serif;
  font-size: 20px;
}

.limitBox {
  width: 2.9rem;
  height: 2.5rem;
  font-size: 25px;
  color: red;
  font-weight: bold;
  padding: 1rem;
}
