* {
  color: black;
  background-color: white;
}

body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 5rem;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 70px;
}

button {
  font-size: 50px;
  border: .3rem solid;
  background-color: lightsalmon;
  margin: 1rem;
}

button:hover {
  cursor: pointer;
}

.start::before {
  content: 'Start';
}

.start.is-clicked::before {
  content: none;
}

.start.is-clicked::after {
  content: 'Pause';
  background-color: white;
}

.reset {
  display: none;
  background-color: white;
}

.reset.is-hidden {
  visibility: visible;
  display: inline;
}

.reset.is-visible {
  display: none;
}
