* {
  color: black;
  background-color: white;
}

body {
  font-family: sans-serif;
  text-align: center;
}

h1,
h2 {
  font-size: 20px;
}

button {
  font-size: 14px;
  padding: .5rem;
  border: .2rem solid;
}
