* {
  color: black;
  background-color: white;
}

body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 5rem;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 70px;
}

button {
  font-size: 60px;
  padding: .2rem;
  border: none;
}

button:hover {
  cursor: pointer;
}

button::before {
  content: '▶️'
}

button::after {
  content: none;
}

button.is-clicked::before {
  content: none;
}

button.is-clicked::after {
  content: '⏸'
}
